@charset "UTF-8";
.outer { display:block; position:fixed; 
           top:0; left:0; bottom:0; right:0; 
           text-align:center; 
           padding-top:80px; 
           font-family: 카페24 아네모네에어; font-size:25px;}
#searchI, #searchP {font-size:20px;}
.hidden { visibility:hidden;  }
.outer>h3 {display: inline-block;
			font-size:50px;
			font-family: 카페24 아네모네;
			text-align: center;}

.button { font-size:24px; cursor:pointer;  }
.box_modal { position:fixed; display:block; width:350px; 
            height:250px; top:50%; left:50%;
            transform:scale(0,0); visibility:hidden; 
            margin-top:-75px; margin-left:-150px;
            background:#FFD8D8; 
            border:1px solid #CC3D3D;
            overflow:hidden;
            opacity:0.6;
            transition:all 0.2s ease; 
              }
.box_modal2 { position:fixed; display:block; width:350px; 
            height:250px; top:50%; left:50%;
            transform:scale(0,0); visibility:hidden; 
            margin-top:-75px; margin-left:-150px;
            background:#FFD8D8; 
            border:1px solid #CC3D3D;
            overflow:hidden;
            opacity:0.6;
            transition:all 0.2s ease; 
              }
.box_modal:hover { opacity:1; }
.box_modal2:hover { opacity:1; }
.closer { position:absolute; width:30px; 
             height:30px; top:0; right:0;
             background:#eee; 
             border-left:1px solid #386980; 
             border-bottom: 1px solid #386980;
             text-align:center;
             }
.text { display:inline-block; 
          padding:20px; }
.text h3 { font-size:20px; font-family: 카페24 아네모네에어;}
.text p { font-size:14px; font-family: 카페24 아네모네에어;}
input[type=checkbox]:checked + .box_modal {
  visibility:visible; transform:scale(1,1);
}
input[type=checkbox]:checked + .box_modal2 {
  visibility:visible; transform:scale(1,1);
}

#searchBtn2, #searchBtn {
	width:200px;
    height: 60px;
	font-size: 20px; color:#fff;
	border: 1px solid  #FFFFFF;
    background-color:  #C95F12;
    font-family: 카페24 아네모네에어;
}
#btn3{
	width:200px;
    height: 60px;
	font-size: 20px; color:#000000;
	border: 1px solid  #FFFFFF;
    background-color:  #C4C4C4;
    font-family: 카페24 아네모네에어;
}