@charset "UTF-8";

section {
	background: rgba(246, 246, 246, 1);
	margin-left: 10%;
	margin-right: 10%;
	min-width: 1000px;
}

.top-div {
	width: 500px;
	height: 50px;
	margin: auto;
}

select {
	font-family: inherit;
	font-size: 15px;
	background: url('/Reader25/images/bookreview/arrow3.png') no-repeat 100%
		50%;
	border-radius: 0px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 2px;
}

select::-ms-expand {
	display: none;
}

.search-div {
	margin: 0px;
	padding: 0px;
	display: inline-block;
	border-bottom: 1px solid black;
}

.search-option {
	border: none;
	width: 50px;
}

#search-input {
	background: none;
	border: none;
	width: 220px;
}

#search-icon {
	float: right;
	width: 20px;
}

#search-icon:hover {
	cursor: pointer;
}

.sort-div {
	margin-left: 13px;
}

.sort-div, .sort-div>h4 {
	clear: both;
	display: inline-block;
}

.sort-div>h4 {
	font-size: 15px;
	font-weight: normal;
}

.sort-div>h4:hover {
	font-weight: bolder;
	cursor: pointer;
}

#like-h4 {
	border-left: 1px solid black;
	border-right: 1px solid black;
	padding-left: 5px;
	padding-right: 5px;
}

.list-all-div {
	width: 90%;
	min-height: 800px;
	margin: auto;
	margin-top: 20px;
	text-align: center; /*  */
}

.list-div {
	text-align: left;
	width: 200px;
	height: 300px;
	display: inline-block;
	margin-left: 1%;
}

.img-div {
	background: rgba(229, 229, 229, 1);
	line-height: 180px; /* 이미지 가운데로 넣기 */
}

.list-img {
	height: auto;
	width: 100%;
	vertical-align: middle;
}

.content-div {
	background: white;
}

.content-ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding: 5px;
}

.content-ul>li {
	margin: 0;
	width: 100%;
}

.title-li {
	font-weight: bold;
}

.tag-li {
	font-size: 13px;
	color: rgba(245, 113, 92, 1);
}

.writer-li {
	font-size: 10px;
}

.wise-li {
	font-size: 13px;
}

.paging-div {
	width: 250px;
	margin: auto;
	margin-top: 10px;
}

.paging-div>button {
	width: 30px;
	height: 30px;
	color: rgba(85, 83, 83, 1);
	font-size: 15px;
	background: rgba(229, 229, 229, 1);
	border: none;
}

.paging-div>button:hover {
	font-weight: bold;
	background: rgba(220, 220, 220, 1);
}

.paging-div>button:active {
	background: rgba(39, 50, 56, 1);
	color: white;
}

.write-btn {
	position: fixed;
	border-radius: 50%;
	background: rgba(245, 113, 92, 1);
	width: 50px;
	height: 50px;
	text-align: center;
	top: 90%;
	right: 12%;
}

.write-btn>img {
	margin-top: 7px;
}

.write-btn:hover {
	cursor: pointer;
}