@charset "UTF-8";
.serch_put{ 
	display: inline-block;
}
.txt_serch{
	display: inline-block;
	font-size:50px;
	font-family: 카페24 아네모네;
	text-align: center;
}
.txt_serch_div1{
	display: inline-block;
	font-size:20px;
	font-family: 카페24 아네모네에어;
	text-align: center;
}
.txt_serch_div2{
	display: inline-block;
	font-size:30px;
	font-family: 카페24 아네모네에어;
	text-align: center;
}
.input_id input{
	width: 230px;
	height: 40px;
	background: #EAEAEA;
	text-align: center; 
	border: none;
	font-size:15px; color:#838383;
	font-family: 카페24 아네모네에어;
}
.input_name input{
	width: 230px;
	height: 40px;
	background: #EAEAEA;
	text-align: center; 
	border: none;
	font-size:15px; color:#838383;
	font-family: 카페24 아네모네에어;
}
.input_phone input{
	width: 230px;
	height: 40px;
	background: #EAEAEA;
	text-align: center; 
	border: none;
	font-size:15px; color:#838383;
	font-family: 카페24 아네모네에어;
}
.input_pw1 input{
	width: 230px;
	height: 40px;
	background: #EAEAEA;
	text-align: center; 
	border: none;
	font-size:15px; color:#838383;
	font-family: 카페24 아네모네에어;
}
.input_pw2 input{
	width: 230px;
	height: 40px;
	background: #EAEAEA;
	text-align: center; 
	border: none;
	font-size:15px; color:#838383;
	font-family: 카페24 아네모네에어;
}
.btn1 {
	width:150px;
    height: 40px;
	font-size: 15px; color:#fff;
	border: 1px solid  #FFFFFF;
    background-color:  #FFC398;
    font-family: 카페24 아네모네에어;
}
.btn3{
	width:150px;
    height: 40px;
	font-size: 15px; color:#000000;
	border: 1px solid  #FFFFFF;
    background-color:  #C4C4C4;
    font-family: 카페24 아네모네에어;
}