@charset "UTF-8";
.outer{ 
	display: inline-block;
}
.txt_TIW{
	font-size:40px;
	font-family: 카페24 아네모네;
	text-align: center;
}
#TIWTable{
	font-size:18px;
	font-family: 카페24 아네모네에어;
	text-align: center;
	margin: auto; 
	width: 850px;
}
#TIWTable th{
	background: #F7B45E;
}
.btn1 {
	width:150px;
    height: 40px;
    margin-right: 50px;
	font-size: 17px; font-weight: bold;
	border: 1px solid  #FFFFFF;
    background-color:  #FFC398;
    font-family: 카페24 아네모네에어;
}