@charset "UTF-8";
.login_put{ 
	display: inline-block;
}
.input_id input{
	width: 430px;
	height: 50px;
	background: #EAEAEA;
	text-align: center; 
	border: none;
	font-size:25px; color:#838383;
	font-family: 카페24 아네모네에어;
}
.input_pw input{
	width: 430px;
	height: 50px;
	background: #EAEAEA;
	text-align: center; 
	border: none;
	font-size:25px; color:#838383;
	font-family: 카페24 아네모네에어;
}
.txt_login{
	display: inline-block;
	font-size:70px;
	font-family: 카페24 아네모네;
	text-align: center;
}
.txt_login_div{
	display: inline-block;
	font-size:40px;
	font-family: 카페24 아네모네에어;
	text-align: center;
}
.login_search {
	display: inline-block;
    left: 600px;
    padding-top: 10px;
    text-indent: 240px;
    font-family: 카페24 아네모네에어;
}
.btn1 {
	width:200px;
    height: 60px;
	font-size: 20px; color:#fff;
	border: 1px solid  #FFFFFF;
    background-color:  #FFC398;
    font-family: 카페24 아네모네에어;
}
.btn2{
	width:200px;
    height: 60px;
	font-size: 20px; color:#000000;
	border: 1px solid  #FFFFFF;
    background-color:  #C95F12;
    font-family: 카페24 아네모네에어;
}
.btn3{
	width:200px;
    height: 60px;
	font-size: 20px; color:#000000;
	border: 1px solid  #FFFFFF;
    background-color:  #C4C4C4;
    font-family: 카페24 아네모네에어;
}