<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">

	<select id="selectListCount" resultType="_int">
		select count(*)
		from board
		where code = #{code} and b_status = 'Y'
	</select>
	
	<select id="selectList" resultMap="boardResultSet">
		select *
		from board
		where code = #{code} and b_status = 'Y'
		order by board_no desc
	</select> 
	<!-- vo 에서 db 참고하여 작성한것들을  property에 넣은거고 
	column은 db에 있는 값들을 그대로 가져온 것이다.   -->
	<resultMap type="Board" id="boardResultSet">
		<id property="boardNo" column="BOARD_NO"/>
		<result property="bTitle" column="B_TITLE"/>
		<result property="bContent" column="B_CONTENT"/>
		<result property="bCount" column="B_COUNT"/>
		<result property="bLike" column="B_LIKE"/>
		<result property="comCount" column="COM_COUNT"/>
		<result property="bStatus" column="B_STATUS"/>
		<result property="enrollDay" column="ENROLL_DAY"/>
		<result property="updateDay" column="UPDATE_DAY"/>
		<result property="cate" column="CATE"/>
		<result property="code" column="CODE"/>
		<result property="userId" column="USER_ID"/>
	</resultMap>
	
	<!-- TIW 관련 mapper -->
	
	<select id="getTIWListCount" resultType="_int">
		select count(*)
		from board
		where code='5' and b_status='Y'
	</select>
	
	<select id="selectTIWList" resultMap="boardResultSet">
		select *
		from board
		where code='5' and b_status='Y'
		order by BOARD_NO desc
	</select>
	
	<insert id="insertTIW" parameterType="Board">
		insert into board
		values (seq_bid.nextval, #{bTitle}, #{bContent}, default, default, default,
				default, sysdate, sysdate, #{cate}, '5', #{userId})
	</insert>
	
	<update id="addTIWReadCount" parameterType="_int">
		update board
		set B_COUNT = B_COUNT + 1
		where BOARD_NO=#{BOARD_NO}
	</update>
	
	<select id="selectTIWBoard" parameterType="_int" resultMap="boardResultSet">
		select *
		from board
		where BOARD_NO=#{BOARD_NO} and b_status='Y'
	</select>
	
	<update id="updateTIWBoard">
		update board
		set B_TITLE=#{bTitle}, B_CONTENT=#{bContent}, CATE=#{cate}, UPDATE_DAY=sysdate
		where BOARD_NO=#{boardNo}
	</update>
	
	<update id="deleteTIWBoard">
		update board
		set B_STATUS='N'
		where BOARD_NO=#{boardNo}
	</update>
	
	<!-- TIW 관련 mapper -->
	
	<insert id="insertBoard">
		insert into board
		values(seq_bid.nextval, #{bTitle}, #{bContent}, default, default, default,
				default, sysdate, sysdate, null, #{code}, #{userId})
	</insert>
	
	<insert id="insertAttachment">
		insert into attachment
		values(seq_atc.nextval, #{atcLevel}, #{atcCode}, #{atcOrigin}, #{atcName},
				#{atcPath}, sysdate, default, #{boardNo})
	</insert>
	

	
	<select id="SearchMyListCount" parameterType="SearchCondition" resultType="_int">
	
		select count(*)
		from board
		where code= #{code} and b_status='Y'
		
		
		<if test="mId != null">
 		
 			and USER_ID = #{mId}
 		
 		</if>
 		
 		<if test="title != null">
 		
 			and B_TITLE like '%' || #{title} || '%'
 		
 		</if>
 		
 		<if test="content != null">
 		
 			and B_CONTENT like '%' || #{content} || '%'
 		
 		</if> 
		
		
	
	
	</select>
	
	
	<select id="SeachMyList" parameterType="SearchCondition" resultMap="boardResultSet">
 	
 	
 		select *
 		from board join member using( user_id)
 		where b_status = 'Y' and code=#{code}
 
 		
 		
 		<if test="mId != null">
 		
 			and USER_ID = #{mId}
 		
 		</if>
 		
 		<if test="title != null">
 		
 			and B_TITLE like '%' || #{title} || '%'
 		
 		</if>
 		
 		<if test="content != null">
 		
 			and B_CONTENT like '%' || #{content} || '%'
 		
 		</if> 
 	
 		order by BOARD_NO desc
 	
 	</select>
 	
 	<update id="deletemBList">
 	
 		UPDATE board SET B_STATUS = 'N' WHERE BOARD_NO=#{s}
 	
 	
 	</update>
	
	

	<update id="addReadCount">
		update board
		set b_count = b_count + 1
		where board_no = #{boardNo}
	</update>
	
	<select id="selectBoard" resultMap="boardResultSet">
		select * 
		from board
		where board_no = #{boardNo} and b_status = 'Y'
	</select>
	
	<select id="selectAttachmentList" resultMap="attachmentResultSet">
		select *
		from attachment
		where board_no = #{boardNo} and atc_status = 'Y'
	</select>
	
	<select id="selectAttachmentTList" resultMap="attachmentResultSet">
		select *
		from attachment
		where atc_status = 'Y' and atc_level = 0 and atc_code = #{atcCode}
	</select>
	
	<select id="selectAttachment" resultMap="attachmentResultSet">
		select *
		from attachment
		where atc_status = 'Y' and board_no = #{boardNo}
	</select>
	
	<resultMap type="Attachment" id="attachmentResultSet">
		<id property="atcNo" column="ATC_NO"/>
		<result property="atcLevel" column="ATC_LEVEL"/>
		<result property="atcCode" column="ATC_CODE"/>
		<result property="atcOrigin" column="ATC_ORIGIN"/>
		<result property="atcName" column="ATC_NAME"/>
		<result property="atcPath" column="ATC_PATH"/>
		<result property="atcDate" column="ATC_DATE"/>
		<result property="atcStatus" column="ATC_STATUS"/>
		<result property="boardNo" column="BOARD_NO"/>
	</resultMap>

	
	<select id="getReListCount" resultType="_int">
		select count(*)
		from board
		where code = 2 and b_status = 'Y' 
			and b_content like '%' || #{book} || '%'
	</select>
	<select id="selectAnotherReview" resultMap="boardResultSet">
		select *
		from board
		where code = 2 and b_status = 'Y'
			and b_content like '%' || #{book} || '%'
	</select>
	<select id="findLike" resultType="_int">
		select count(*)
		from liketo
		where boardno = #{boardNo} and mno = #{loginUser} and like_check = '1'
	</select>
	
	<resultMap type="Liketo" id="LiketoResultSet">
		<id property="l_no" column="LIKENO"/>
		<result property="b_no" column="BOARDNO"/>
		<result property="m_no" column="MNO"/>
		<result property="l_check" column="LIKE_CHECK"/>
	</resultMap>

	
	<delete id="deleteLike">
		DELETE FROM liketo
		WHERE boardno = #{b_no} AND mno = #{m_no}
    </delete>
    
	<insert id="insertLike">
		insert into liketo
		values(SEQ_LID.nextval, #{b_no}, #{m_no}, 1)
	</insert>
	
	<select id="updateLike">
		UPDATE board
		SET
		B_LIKE = (SELECT COUNT(*)
						FROM liketo
						WHERE boardno = #{b_no})
		WHERE board_no = #{boardNo}
	</select>
	
	<insert id="insertComments">
		insert into comments
		values (com_seq.nextval, #{comment}, sysdate, default, #{boardNo}, #{userId})
	</insert>
	
	<update id="updateCount">
		update board
		set COM_COUNT = COM_COUNT + 1
		where board_no = #{boardNo}
	</update>
	
	<select id="selectCommentsList" resultMap="commentsResultSet">
		select *
		from comments c
		    join board b on(c.board_no = b.board_no)
		where c.board_no=#{boardNo}
		order by c.board_no desc
	</select>
	
	<resultMap type="Comments" id="commentsResultSet">
		<id property="comNo" column="COM_NO"></id>
		<result property="comment" column="CONTENT"></result>
		<result property="comDate" column="COM_DATE"></result>
		<result property="status" column="STATUS"></result>
		<result property="boardNo" column="BOARD_NO"></result>
		<result property="userId" column="USER_ID"></result>
	</resultMap>
	

	<select id="getSearchTIWResultListCount" resultType="_int">
		select count(*)
		from board b
			join member m on(b.user_id = m.user_id)
		where b.code='5' and b.b_status='Y'
		
		<if test="writer != null">
			and b.user_id = #{writer}
		</if>
		<if test="title != null">
			and b_title like '%' || #{title} || '%'
		</if>
		<if test="content != null">
			and b_content like '%' || #{content} || '%'
		</if>
	</select>
	
	<select id="selectSearchTIWResultList" resultMap="boardResultSet">
		select *
		from board b
			join member m on(b.user_id = m.user_id)
		where b.code='5' and b.b_status='Y'
		<choose>
			<when test="writer != null">
				and b.user_id = #{writer}
			</when>
			<when test="title != null">
				and b_title like '%' || #{title} || '%'
			</when>
			<otherwise>
				and b_content like '%' || #{content} || '%'
			</otherwise>
		</choose>
		order by board_no desc
	</select>
	

	<select id="getSearchCateResultListCount" resultType="_int">
		select count(*)
		from board b
			join member m on(b.user_id = m.user_id)
		where b.code='5' and b.b_status='Y'
			and b.user_id = #{userId}
			and CATE  = #{cate}
	</select>
	
	<select id="selectSearchCateResultList" resultMap="boardResultSet">
		select *
		from board b
			join member m on(b.user_id = m.user_id)
		where b.code='5' and b.b_status='Y'
			and b.user_id = #{userId}
			and CATE  = #{cate}
		order by board_no desc
	</select>

	<select id="getCommentListCount" resultType="_int">
		select count(*)
		from comments
		where board_no = #{boardNo}
	</select>
	
	<select id="selectAnotherComments" resultMap="commentsResultSet">
		select *
		from comments
		where board_no =#{boardNo}
		order by com_no desc
	</select>

</mapper>
