<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
	<select id="selectListCount" resultType="_int">
		select count(*)
		from board
		where code = #{code} and b_status = 'Y'
	</select>
	
	<select id="selectList" resultMap="boardResultSet">
		select *
		from board
		where code = #{code} and b_status = 'Y'
		order by board_no desc
	</select>
	<resultMap type="Board" id="boardResultSet">
		<id property="boardNo" column="BOARD_NO"/>
		<result property="bTitle" column="B_TITLE"/>
		<result property="bContent" column="B_CONTENT"/>
		<result property="bCount" column="B_COUNT"/>
		<result property="bLike" column="B_LIKE"/>
		<result property="comCount" column="COM_COUNT"/>
		<result property="bStatus" column="B_STATUS"/>
		<result property="enrollDay" column="ENROLL_DAY"/>
		<result property="updateDay" column="UPDATE_DAY"/>
		<result property="cate" column="CATE"/>
		<result property="code" column="CODE"/>
		<result property="userId" column="USER_ID"/>
	</resultMap>
	
	<!-- TIW 관련 mapper -->
	
	<select id="getTIWListCount" resultType="_int">
		select count(*)
		from board
		where code='5' and b_status='Y'
	</select>
	
	<select id="selectTIWList" resultMap="boardResultSet">
		select *
		from board
		where code='5' and b_status='Y'
		order by BOARD_NO desc
	</select>
	
	<insert id="insertTIW" parameterType="Board">
		insert into board
		values (seq_bid.nextval, #{bTitle}, #{bContent}, default, default, default,
				default, sysdate, sysdate, #{cate}, '5', #{userId})
	</insert>
	
	<update id="addTIWReadCount" parameterType="_int">
		update board
		set B_COUNT = B_COUNT + 1
		where BOARD_NO=#{BOARD_NO}
	</update>
	
	<select id="selectTIWBoard" parameterType="_int" resultMap="boardResultSet">
		select *
		from board
		where BOARD_NO=#{BOARD_NO} and b_status='Y'
	</select>
	
	<update id="updateTIWBoard">
		update board
		set B_TITLE=#{bTitle}, B_CONTENT=#{bContent}, CATE=#{cate}, UPDATE_DAY=sysdate
		where BOARD_NO=#{boardNo}
	</update>
	
	<update id="deleteTIWBoard">
		update board
		set B_STATUS='N'
		where BOARD_NO=#{boardNo}
	</update>
	
	<!-- TIW 관련 mapper -->
	
	<insert id="insertBoard">
		insert into board
		values(seq_bid.nextval, #{bTitle}, #{bContent}, default, default, default,
				default, sysdate, sysdate, null, #{code}, #{userId})
	</insert>
	
	<insert id="insertAttachment">
		insert into attachment
		values(seq_atc.nextval, #{atcLevel}, #{atcCode}, #{atcOrigin}, #{atcName},
				#{atcPath}, sysdate, default,seq_bid.currval)
	</insert>
	
	<update id="addReadCount">
		update board
		set b_count = b_count + 1
		where board_no = #{boardNo}
	</update>
	
	<select id="selectBoard" resultMap="boardResultSet">
		select * 
		from board
		where board_no = #{boardNo} and b_status = 'Y'
	</select>
	
	<select id="selectAttachmentList" resultMap="attachmentResultSet">
		select *
		from attachment
		where board_no = #{boardNo} and atc_status = 'Y'
	</select>
	
	<select id="selectAttachmentTList" resultMap="attachmentResultSet">
		select *
		from attachment
		where atc_status = 'Y' and atc_level = 0
	</select>
	
	<resultMap type="Attachment" id="attachmentResultSet">
		<id property="atcNo" column="ATC_NO"/>
		<result property="atcLevel" column="ATC_LEVEL"/>
		<result property="atcCode" column="ATC_CODE"/>
		<result property="atcOrigin" column="ATC_ORIGIN"/>
		<result property="atcName" column="ATC_NAME"/>
		<result property="atcPath" column="ATC_PATH"/>
		<result property="atcDate" column="ATC_DATE"/>
		<result property="atcStatus" column="ATC_STATUS"/>
		<result property="boardNo" column="BOARD_NO"/>
	</resultMap>
	
	<select id="findLike" resultType="_int">
		select like_check
		from liketo
		where boardno = #{boardNo} and mno = #{loginUser} and like_check = '1'
	</select>
	
	<resultMap type="Liketo" id="LiketoResultSet">
		<id property="l_no" column="LIKENO"/>
		<result property="b_no" column="BOARDNO"/>
		<result property="m_no" column="MNO"/>
		<result property="l_check" column="LIKE_CHECK"/>
	</resultMap>
</mapper>
