<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bookMapper">
	
	<select id="selectList" resultMap="bookResultSet">
		select *
		from book
		where code = #{code} and b_status = 'Y'
		order by board_no desc
	</select>
	
	<resultMap type="Book" id="bookResultSet">
		<id property="b_no" column="BOOK_NO"/>
		<result property="b_name" column="BOOK_NAME"/>
		<result property="b_price" column="PRICE"/>
		<result property="b_Q1" column="BOOK_Q1"/>
		<result property="b_Q2" column="BOOK_Q2"/>
		<result property="b_Q3" column="BOOK_Q2"/>
		<result property="author" column="AUTHOR"/>
		<result property="b_Stauts" column="STATUS"/>
	</resultMap>
</mapper>
