<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="DiscussMapper">
	<!-- 토론방 리스트 확인 -->
	<select id="ListCount" resultType="_int">
		SELECT COUNT(*)
		FROM DISCUSS
		WHERE D_STATUS = 'Y'
	</select>
	
	<!-- 토론방 리스트 가져오기 -->
	<select id="selectList" resultMap="discussResultSet">
		SELECT *
		FROM DISCUSS
		WHERE D_STATUS = 'Y'
		ORDER BY D_NO DESC
	</select>
	
	<!-- 토론방 리절트셋 -->
	<resultMap type="Discuss" id="discussResultSet">
		<id property="dNo" column="D_NO" />
		<result property="dTitle" column="D_TITLE"/>
		<result property="dWriter" column="D_WRITER"/>
		<result property="dContent" column="D_CONTENT"/>
		<result property="dCreate" column="D_CREATE"/>
		<result property="dPros" column="D_PROS"/>
		<result property="dCons" column="D_CONS"/>
		<result property="dNeutrality" column="D_NEUTRALITY"/>
		<result property="dCount" column="D_COUNT"/>
		<result property="dStatus" column="D_STATUS"/>
		<result property="atcNo" column="ATC_NO"/>
	</resultMap>
	
	<!-- 토론방 파일 저장 -->
	<insert id="insertDAttachment">
		INSERT INTO ATTACHMENT
		VALUES(SEQ_ATC.NEXTVAL, #{atcLevel}, NULL, #{atcOrigin}, #{atcName},
				#{atcPath}, SYSDATE, DEFAULT, 0)
	</insert>
	
	<!-- 토론방 작성 -->
	<insert id="insertDiscuss">
		INSERT INTO DISCUSS
		VALUES(D_SEQ.NEXTVAL, #{dTitle}, #{dContent}, SYSDATE, #{dPros}, #{dCons}, DEFAULT, DEFAULT, DEFAULT, SEQ_ATC.CURRVAL, #{dWriter})
	</insert>
	
</mapper>
